NODE_ENV=
PORT=5209
DATABASE_URL=
BCRYPT_SALT_ROUND=12
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15d
JWT_REFRESH_EXPIRES_IN=90d
BASE_URL=
LOCAL_URL=
FRONTEND_URL=
GEMINI_API_KEY=
n8n_webhook_url=